<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RestWebService.Properties.Settings.ConnectionString"
      connectionString="Data Source=GSEW0263;Initial Catalog=DB_WebSCe;User ID=sa;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="RestWebService.Settings.ConnectionString" connectionString="Data Source=GSEW0263;Initial Catalog=DB_WebSCe;User ID=sa;Password=P@ssw0rd"
      providerName="" />
  </connectionStrings>
</configuration>
